<!DOCTYPE html>
<html>
  <head>
    <title>Transposition Cipher Encryption</title>
  </head>
  <body>
    <h1>Transposition Cipher Encryption</h1>
    <form action="/encrypt" method="post">
      <div>
        <label for="message">Enter message:</label>
        <input type="text" name="message" id="message" required /> <br />
      </div>
      <div>
        <label for="encrypt_key">Encryption Key (maximum 9 characters):</label>
        <br />
        <input type="text" name="encrypt_key" id="encrypt_key" /> <br />
      </div>
      <div><button type="submit">Encrypt</button></div>
    </form>
  </body>
</html>
